<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dalicious.dalicious.repository.BoardRepository">

    <!-- 게시판 목록 조회 -->
    <select id="findAll" resultType="com.dalicious.dalicious.domain.cms__board">
        SELECT * FROM cms__board ORDER BY board_id ASC
    </select>

    <!-- 게시판 생성 -->
    <insert id="saveBoard" parameterType="com.dalicious.dalicious.domain.cms__board" useGeneratedKeys="true" keyProperty="board_id">
        INSERT cms__board (name_ko) VALUES (#{name_ko})
    </insert>

</mapper>